asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
langchain==0.3.25
chromadb==0.4.24
sentence-transformers==2.7.0
ollama==0.1.14
fastapi==0.110.0
uvicorn==0.29.0